.input.plateau
  = form_for @palindrome do |f|
    .formheader
      = f.label :body, "Enter your palindrome"
    .field
      = f.text_field :body
    = f.hidden_field :user_id, value: current_user.id
    .submit
      = f.submit "Submit"
