.input.plateau
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      = f.label :email, "Email"
      %br/
      .field
        = f.email_field :email, :autofocus => true
    %div
      = f.label :password
      %br/
      .field
        = f.password_field :password
    .submit
      = f.submit "Sign in"
